body{
    background-color: #0F0F0F;
}
.wrapper{}
.homework {
    max-width: 1670px;
    margin: 0 auto;
}

/* ================================================================================== */


.homework__must-watch-movies-slider {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 12px;
    border: 1px solid #262626;
    gap: 50px;
    margin: 0 0px 150px 0px;
    min-width: 430px;
}

.must-watch-movies-slider {}

.header{
    display: flex;
    justify-content: space-between;
}

.title {
    color: #FFF;
    font-family: Manrope;
    font-size: 38px;
    font-weight: 700;
    line-height: 150%;
    text-transform: capitalize;
}

.controller {
    display: flex;
}

.arrow-left {
    padding: 14px;
    background-color: #1A1A1A;
    border: 1px solid #1F1F1F;
    border-radius: 8px;
    transition: all 0.3s linear;
}

.arrow-right {
    padding: 14px;
    background-color: #1A1A1A;
    border: 1px solid #1F1F1F;
    border-radius: 8px;
    transition: all 0.3s linear;
}

.pages {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 0px 25px;
}

.page {
    height: 4px;
    width: 16px;
    background-color: #333;
    border-radius: 100px;
    transition: all 0.8s linear;
}

.page:hover{
    animation: scale 0.5s linear normal;
    animation-fill-mode: forwards;
}
@keyframes scale{
    0%{
        width: 16px;
    }
    100% {
        width: 23px;
        background-color: red;
    }
}

img{
    border-radius: 12px;
}
.must-watch-movies-slider__items {
    display: flex;
    gap: 20px;
}

.must-watch-movies-slider__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid #262626;
    background: #1A1A1A;
    flex: 0 1 calc(100% / 4 - ((20px * 3) / 4));
    transition: all 0.5s ease-in-out;
}

.must-watch-movies-slider__item:hover{
    transform: scale(1.03);
    background-color: #1f1f1f;

}

.must-watch-movies-slider__image{
    display: flex;
    justify-content: center;
}
.must-watch-movies-slider__image > img{
    max-height: 404px;
}

.must-watch-movies-slider__info {
    display: flex;
    justify-content: space-between;
}

.info-must-watch-movies-slider {}

.info-must-watch-movies-slider__time-of-movie {
    display: flex;
    align-items: center;
    border-radius: 51px;
    border: 1px solid #262626;
    background: #141414;
    padding: 6px;
}

.info-must-watch-movies-slider__rating-of-movie {
    display: flex;
    gap: 3px;
    justify-content: space-between;
    align-items: center;
    border-radius: 51px;
    border: 1px solid #262626;
    background: #141414;
    padding: 6px 10px;
}
.info-must-watch-movies-slider__time-of-movie p{
    color: #999;
    font-family: Manrope;
    font-weight: 500;
    line-height: 150%;
}

.info-must-watch-movies-slider__rating-of-movie p{
    color: #999;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
}

/* ==================================================================================================== */



.homework__our-genres-slider {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 12px;
    border: 1px solid #262626;
    gap: 50px;
    min-width: 430px;
}

.our-genres-slider {
    position: relative;

}

.our-genres-slider__button {
    position: absolute;
    top: -25px;
    left: 50px;
    color: #FFF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    padding: 10px 24px;
    background-color: #E50000;
    border-radius: 8px;
    transition: all 0.3s ease-in;
}

.our-genres-slider__button:hover{
    transform: scale(1.03);
}

.our-genres-slider__header {
    display: flex;
    justify-content: space-between;
}

.our-genres-slider__title {}

.our-genres-slider__controller {}

.our-genres-slider__arrow-left {
}
.arrow-left:hover{
        background-color: #2c2c2c;
}

.arrow-right:hover {
    background-color: #2c2c2c;
}

.our-genres-slider__pages {}

.our-genres-slider__page {}

.our-genres-slider__arrow-right {}

.our-genres-slider__items {
    display: flex;
    gap: 20px;
    
}

.our-genres-slider__item {
    display: flex;
    flex-direction: column;
    flex: 0 1 282px;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #262626;
    background: #1A1A1A;
    transition: all 0.5s linear;
}


.our-genres-slider__images{
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: 5px;
}
.our-genres-slider__first-row-of-imeges{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.our-genres-slider__second-row-of-imeges {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.our-genres-slider__images::before{
    content: '';
    width: 100%;
    height: 101%;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.00) 0%, #1A1A1A 101.79%);
    position: absolute;
    transform: scaleY(1);
    /* Full height initially */
    transform-origin: bottom;
    /* Animates from bottom */
    transition: transform 0.5s linear;
    /* Smooth transition */
    animation: shadow-disappear 0.5s linear forwards;

}
.our-genres-slider__item:hover{
    transform: scale(1.01);
}

.our-genres-slider__images::before:hover{
    background-color: red;
    
}
.our-genres-slider__images:hover::before {
    transform: scaleY(0);
    /* Shrinks the shadow to disappear */
}

@keyframes before-animation {
    0%{
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}

.our-genres-slider__images img {
    border-radius: 12px;
    max-height: 123.5px;
}

.our-genres-slider__type-of-movie-and-more {
    display: flex;
    justify-content: space-between;

}

.type-of-movie-and-more__text {
    text-transform: capitalize;
    color:#FFF;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
}

.type-of-movie-and-more__arrow-for-more {}

/* ====================================================================================================== */

/* @media (max-width: 1670px) {
    .must-watch-movies-slider__item{
        flex: 0 1 calc(100% / 3 - ((20px * 2) / 3));
    }
}  */


@media (max-width: 1670px) {
    .must-watch-movies-slider__items, .our-genres-slider__items {
        overflow: scroll;
        scrollbar-color: #E50000 #fff;
        /* Зменшуємо кількість карток на рядку до 3 для екрану меншого розміру */
    }
}

@media (max-width: 1652px) {
    .our-genres-slider__item {
        flex: 0 1 calc(100% / 4 - ((30px * 2) / 4));
        /* Зменшуємо кількість карток на рядку до 3 для екрану меншого розміру */
    }
}

@media (max-width: 1288px) {
    .must-watch-movies-slider__item{
        flex: 0 1 calc(100% / 2 - ((20px * 1) / 2));
        /* Зменшуємо кількість карток на рядку до 2 для ще меншого екрану */
    }

}

@media (max-width: 850px){
    .must-watch-movies-slider__title{
        text-align: center;
    }
    .must-watch-movies-slider__controller{
        justify-content: center;
    }
    .must-watch-movies-slider__header{
        flex-direction: column;
    }
}

@media (max-width: 920px) {
    .homework__must-watch-movies-slider{
        padding: 25px;
    }
}

@media (max-width: 635px) {
    .our-genres-slider__title {
        text-align: center;
    }

    .our-genres-slider__controller {
        justify-content: center;
    }

    .our-genres-slider__header {
        flex-direction: column;
    }
}


@media (max-width: 410px){
    /* .must-watch-movies-slider__title{
        font-size: 28px;
    } */
    /* .must-watch-movies-slider__image img{
        max-width: 270px;
    } */
    /* .must-watch-movies-slider__item{
        max-width: 290px;
    } */
    .info-must-watch-movies-slider__time-of-movie {
        gap: 2px;
    }

    .info-must-watch-movies-slider__rating-of-movie {
        gap: 2px;
    }
} 

@media (max-width: 430px) {
    .info-must-watch-movies-slider__time-of-movie p{
        font-size: 22px;
    }
    .info-must-watch-movies-slider__rating-of-movie p{
        font-size: 22px;
    }
    .type-of-movie-and-more__text{
        font-size: 24px;
    }
}
/* на 534px потрібно просто зменшувати карточку must watch movies */

/* ================================================================================== */

body{
    display: flex;
    flex-direction: column;
}
.wrapper{
    flex: 1 0 auto;
}

header{
    color: #fff;
    text-align: center;
    margin-bottom: 150px;
}

footer {
    color: #fff;
    text-align: center;
    margin-top: 150px;
}

/* ================================================================================== */
