body{
    background-color: aquamarine;
}
.page{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(14, 36, 36);
}
p{
    margin: 20px 0px;
    color: aquamarine;
    font-size: 30px;
}
img{
    margin: 20px 10px;
}
footer{
    text-align: center;
}